body {
    font-family: 'Noto Sans', sans-serif;
}

.hero-unit {
    color: white;
    padding-top: 10em;
    height: 100vh;
    background-image: url('../images/iPhoneXSXSMax-580x358.webp');
    background-attachment: fixed;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: cover;
    margin: 0px;    
}

.custom-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2em;
}

footer {
    font-size: 0.75em;
}

footer a {
    color: rgb(160, 160, 160);
    text-decoration: none;
}

footer a:hover {
    color: rgb(95, 95, 95);
    text-decoration: none;
}